## Ignore Compiled Buzz stuff ##
*.bdb
*.bo
venv
.idea

logs
*ARGoS_LOG*
test_params.dat

## Ignore Compiled Python files **
*.pyc

## CMake
build
build_release
build_debug

## Cluster
slurm-*

## Peter
*.swp
*output*.txt
